<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/JAVA编程思想/src/cn/edu/hainu/第十章/Ex17.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="cn.edu.hainu.第十章.Ex17"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="JAVA编程思想"/>
</launchConfiguration>
